<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
  type="text/css"
  rel="stylesheet"
/>

<!-- Toolbar -->

<h3 class=" text-center">CHAT BOT REGEX</h3>
<div class="messaging">
    <div class="inbox_msg">
    <div class="inbox_people">

    <div class="mesgs">
        <div class="msg_history">
        <li class="message" *ngFor="let message of messages">

            <div class="incoming_msg">
                <div class="incoming_msg_img">
                </div>
                <div class="received_msg">
                <div class="received_withd_msg">
                    <p>{{ message }}</p>
                </div>
                </div>
            </div>


            <div class="outgoing_msg">
                <div class="sent_msg">
                <p>{{ message }}</p>
                </div>
            </div>

        </li>
        </div>
        <div class="type_msg">
        <form class="input_msg_write" (ngSubmit)="sendMessage()">
            <input
            type="text"
            class="write_msg"
            placeholder="Type a message"
            name="newMessage"
            [(ngModel)]="newMessage"
            />
            <button class="msg_send_btn" type="button" >
            <i class="fa fa-paper-plane-o" aria-hidden="true" (click)="sendMessage()"></i>
            </button>
        </form>
        </div>
    </div>
    </div>
</div>
